connexion-buzz==0.2.1
connexion==2.9.0
environs==9.3.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.0.4
marshmallow-sqlalchemy==0.26.1
marshmallow==3.13.0
psycopg2==2.9.1
sentry-sdk[flask]==0.7.10
SQLAlchemy==1.4.22
talepy==0.8.0
